#pc-wrap {
	#my-page {
		#my-favorites-page {
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column;
			gap: 57px;
			margin-left: 80px;
			.main-title-box {
				width: auto;
				height: auto;
				flex-direction: row;
				justify-content: space-between;
				.right-box {
					width: 315px;
					.main-title {
						color: #181a20;
						font-family: $font;
						font-size: 30px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
						letter-spacing: 0.6px;
						text-transform: capitalize;

					}
					.sub-title {
						color: #181a20;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 26px;
					}
				}
			}
			.favorites-list-box {
				width: 100%;
				height: auto;
				flex-wrap: wrap;
				flex-direction: row;
				gap: 22px;
				.prop-card-box {
						position: relative;
						width: 300px;
						height: 375px;
						display: flex;
						flex-direction: column;
						transition: transform 0.3s;
						&:hover {
							opacity: 1;
							transform: scale(1.05);
						}
						.card-img {
							position: relative;
							width: 100%;
							height: 150px;
							bottom: 22px;
							background-size: cover;
							border-radius: 12px 12px 0px 0px;
							cursor: pointer;
							div {
								position: absolute;
								padding: 8px 12px;
								left: 12px;
								bottom: 12px;
								border-radius: 6px;
								background: #797575;
								color: #181a20;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}
						}
						.info {
							padding: 20px 22px 17px;
							display: flex;
							flex-direction: column;
							box-sizing: border-box;
							border-radius: 0px 0px 12px 12px;
							border: 1px solid rgba(196, 196, 196, 0.71);
							border-top: none;
							background: #fff;
							box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
							.title {
								overflow: hidden;
								color: #181a20;
								text-overflow: ellipsis;
								white-space: nowrap;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
								text-transform: capitalize;
								cursor: pointer;
							}
							.desc {
								margin-top: 5px;
								overflow: hidden;
								color: #717171;
								font-family: $font;
								font-size: 13px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
							.options {
								margin-top: 15px;
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								div {
									display: flex;
									flex-direction: row;
									img {
										margin-right: 5px;
										width: 17px;
										height: 17px;
									}
									span {
										color: #181a20;
										font-family: $font;
										font-size: 13px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
									}
								}
							}
							.bott {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								align-items: center;
								p {
									color: #181a20;
									font-family: $font;
									font-size: 13px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
									text-transform: capitalize;
								}
								button {
									margin-left: 7px;
									width: 16px;
									height: 16px;
									box-sizing: border-box;
								}
								.view-like-box {
									display: flex;
									flex-direction: row;
									gap: 7px;
									align-items: center;
									.view-cnt {
										color: #717171;
										font-family: $font;
										font-size: 13px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
										text-overflow: ellipsis;
									}
								}
							}
						}
					}
			}
			.pagination-config {
				width: 100%;
				height: auto;
				justify-content: center;
				align-items: center;
				margin-top: 30px;
				.total-result {
					p {
						color: #181a20;
						text-align: center;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 26px;
					}
				}
			}
		}
	}
}
